.banner .banner-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.about-page, .info-page, .team-page, .work-page {
  text-align: center;
  overflow: hidden;
  padding: 80px 0;
}
@media (max-width: 1024px) {
  .about-page, .info-page, .team-page, .work-page {
    padding: 50px 0;
  }
}
@media (max-width: 1024px) {
  .about-page, .info-page, .team-page, .work-page {
    padding: 35px 0;
  }
}
@media (max-width: 770px) {
  .about-page, .info-page, .team-page, .work-page {
    padding: 20px 0;
  }
}
@media (max-width: 480px) {
  .about-page, .info-page, .team-page, .work-page {
    padding: 5px 0;
  }
}

@font-face {
  font-family: "iconfont";
  src: url("../font/iconfont.eot");
  /* IE9*/
  src: url("../font/iconfont.eot#iefix") format("embedded-opentype"), url("../font/iconfont.woff") format("woff"), url("../font/iconfont.ttf") format("truetype"), url("../font/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.clear:before, .clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}

html {
  font-size: 10px;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  position: relative;
}

.navbar {
  position: absolute;
  left: 10%;
  right: 10%;
  margin-top: 40px;
  z-index: 1;
}
.menu-navigation a {
  position: relative;
  display: block;
  float: left;
  margin-right: 20px;
  padding: 10px;
  font-size: 17px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
.menu-navigation a::before, .menu-navigation a::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  transition: all .1s;
}
.menu-navigation a::before {
  width: 0;
  left: 50%;
  opacity: 0;
  transform: translateY(100%);
}
.menu-navigation a:hover::before {
  bottom: 100%;
  width: 100%;
  left: 0;
  opacity: 1;
  transform: scale(1.3);
}
.menu-navigation a:hover::after {
  transform: scale(1.3);
}
.navbar .nav-brand {
  float: right;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
}

.banner {
  padding: 28% 50%;
}
.banner .banner-container {
  background-image: url(../images/banner1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  transition: background-image .6s ease-in;
}
.banner .banner-container .banner-info {
  position: absolute;
  bottom: 25%;
  margin-left: 10%;
  font-family: tahoma,arial;
}
.banner .banner-container .banner-info .banner-title {
  font-size: 30px;
  line-height: 1.4;
  letter-spacing: 8px;
  color: #fff;
}
.banner .banner-container .banner-info .banner-desc {
  font-size: 20px;
  color: #f36523;
  letter-spacing: 5px;
}
.banner .banner-container .banner-controller {
  position: absolute;
  bottom: 20%;
  margin-left: 10%;
  padding-left: 15px;
  transform: translateY(100%);
  text-align: center;
}
@media (max-width: 770px) {
  .banner .banner-container .banner-controller {
    margin-left: 0;
    left: 0;
    right: 0;
  }
}
.banner .banner-container .banner-controller .controller-unit {
  margin-right: 10px;
  display: inline;
  font-family: 'iconfont';
  font-size: 50px;
  line-height: 1;
  color: #fff;
  cursor: pointer;
  opacity: .5;
  transition: all .2s;
}
.banner .banner-container .banner-controller:hover .controller-unit {
  opacity: 1;
}
.banner .banner-container .process-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
}
.banner .banner-container .process-wrap .process-bg {
  background-color: #f36523;
  width: 0%;
  height: 100%;
}
.banner .banner-container .process-wrap .process-bg.show {
  height: 100%;
  transition: all 5s;
}

/* About US stylesheet*/
.about-page h3.text-center {
  position: relative;
  text-align: center;
  font-size: 40px;
  line-height: 2;
  text-transform: uppercase;
  padding-bottom: 40px;
}
.about-page h3.text-center span {
  padding-bottom: 20px;
  border-bottom: #e92381 3px solid;
}
.about-page .page-desc {
  position: relative;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 17.5px;
  text-transform: capitalize;
}
.about-page .row > div {
  display: table-cell;
  border-style: solid;
  border-color: #fff;
  border-left-width: 8px;
  border-right-width: 8px;
  background-color: #e92381;
  color: #fff;
  padding: 30px 10px;
}
@media (min-width: 770px) {
  .about-page .row > div {
    float: none;
  }
}
.about-page .row > div .about-agile {
  position: relative;
}
.about-page .row > div .about-agile .item-icon {
  width: 80px;
  height: 80px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  font-family: 'iconfont';
  font-size: 50px;
  line-height: 1;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-top: 20px;
}
.about-page .row > div .about-agile .item-title {
  font-size: 20px;
  line-height: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.about-page .row > div .about-agile .item-desc {
  padding: 10px;
  text-align: start;
  text-indent: 1em;
  font-size: 14px;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.about-page .row > div:hover {
  background-color: #003466;
}
.about-page .row > div:hover .item-icon {
  animation: rotating 2s linear infinite;
}
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*info-page stylesheets*/
.info-page {
  background-image: url("../images/info.jpg");
  color: #fff;
  background-size: cover;
}
.info-page h3.text-center {
  position: relative;
  text-align: center;
  font-size: 40px;
  line-height: 2;
  text-transform: uppercase;
  padding-bottom: 40px;
}
.info-page h3.text-center::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 25%;
  width: 14%;
  height: 4px;
  margin-left: -7%;
  background-color: #ff9900;
}
.info-page .page-desc {
  position: relative;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 17.5px;
  text-transform: capitalize;
}
@media (min-width: 771px) {
  .info-page .container, .info-page .navbar {
    border-top: 1px solid #ff9900;
    padding-top: 5px;
  }
}
@media (min-width: 771px) {
  .info-page .row > :not(:first-child) {
    border-left: 1px solid #ff9900;
  }
}
.info-page .row > div {
  padding: 15px;
}
@media (max-width: 770px) {
  .info-page .row > div {
    outline: 1px solid #fff;
    outline-offset: -5px;
  }
}
.info-page .info-agile {
  position: relative;
  margin-top: 20px;
}
.info-page .info-agile .item-icon {
  width: 80px;
  height: 80px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  font-family: 'iconfont';
  font-size: 50px;
  line-height: 1;
  border-radius: 50%;
  transform: scale(0.9);
  position: relative;
  background-color: #fff;
  color: #ff9900;
  transition: all .5s;
}
.info-page .info-agile .item-icon::after {
  content: '';
  position: absolute;
  left: -3px;
  top: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid #ff9900;
  border-radius: 50%;
  transform: scale(1.5);
  opacity: 0;
  box-shadow: 0 0 10px #ee9900 inset,0 0 5px #ee9900;
  transition: transform .2s , opacity .3s;
}
.info-page .info-agile:hover {
  border-color: #ff9900;
}
.info-page .info-agile:hover .item-icon {
  color: #fff;
  background-color: #ff9900;
}
.info-page .info-agile:hover .item-icon::after {
  transform: scale(1.2);
  opacity: 1;
}
.info-page .info-agile .item-title {
  font-size: 20px;
  line-height: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.info-page .info-agile .item-desc {
  padding: 10px;
  text-align: start;
  text-indent: 1em;
  font-size: 14px;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* team-page stylesheets*/
.team-page h3.text-center {
  position: relative;
  text-align: center;
  font-size: 40px;
  line-height: 2;
  text-transform: uppercase;
  padding-bottom: 40px;
}
.team-page .page-desc {
  position: relative;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 17.5px;
  text-transform: capitalize;
  color: #666;
}
.team-page .page-desc::after, .team-page .page-desc::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 40px;
  height: 2px;
  transform: translateY(-50%);
  background-color: #333;
}
.team-page .page-desc::before {
  margin-left: -30px;
}
.team-page .page-desc::after {
  margin-left: -20px;
}
.team-page .row > div {
  margin-top: 10px;
}
.team-page .team-agile {
  position: relative;
  padding-top: 0;
  border: 1px solid #d8d8d8;
}
.team-page .team-agile .member-face > div {
  overflow: hidden;
}
.team-page .team-agile .member-face > div img {
  max-width: 100%;
  height: auto;
  transition: .5s;
  transform: scale(1);
}
.team-page .team-agile .member-face .member-name {
  font-size: 17.5px;
  line-height: 2.5;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.member-info {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(2, 61, 116, 0.81);
  color: #fff;
  font-size: 14px;
  opacity: 0;
  overflow: hidden;
  transition: opacity .3s;
}
.member-info::before {
  content: '';
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 40%;
  margin-left: -20px;
  width: 40px;
  height: 2px;
  opacity: 0;
  background-color: #fff;
  transition: all .5s;
}
.member-info .top-part, .member-info .bottom-part {
  position: absolute;
  width: 100%;
  left: 0;
  transition: all .4s;
}
.member-info .top-part {
  top: 0;
  padding: 20px 0;
  transform: translateY(-100%);
}
.member-info .top-part .info-title {
  transform: translateY(-100%);
  font-size: 17.5px;
  transition: all .5s;
}
.member-info .top-part .info-post {
  transform: translateY(-100%);
  transition: all .5s .1s;
}
.member-info .bottom-part {
  bottom: 0;
  font-family: Georgia, serif;
  font-style: italic;
  padding-left: 5px;
  padding-right: 5px;
  transform: translateY(100%);
}
.member-info .bottom-part .info-desc {
  transform: translateY(100%);
  transition: all .4s;
}
.member-info .bottom-part .info-contact {
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  transform: translateY(100%);
  transition: all .4s .1s;
}
.member-info .bottom-part .info-contact a {
  position: relative;
  z-index: 2;
  width: 25px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  transition: all .2s;
  text-decoration: none;
}
.member-info .bottom-part .info-contact a::before {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  background-color: #ff9900;
  transform: rotate(45deg);
  transition: all .2s;
}
.member-info .bottom-part .info-contact a i {
  position: relative;
  z-index: 3;
}
.member-info .bottom-part .info-contact a:hover {
  color: #ff9900;
}
.member-info .bottom-part .info-contact a:hover::before {
  background-color: #fff;
}
.team-page .team-agile:hover .member-face img {
  transform: scale(1.1, 1.1);
}
.team-page .team-agile:hover .member-info {
  opacity: 1;
}
.team-page .team-agile:hover .member-info::before {
  opacity: 1;
}
.team-page .team-agile:hover .member-info .top-part {
  transform: translateY(0);
}
.team-page .team-agile:hover .member-info .top-part * {
  transform: translateY(0);
}
.team-page .team-agile:hover .member-info .bottom-part {
  transform: translateY(0);
}
.team-page .team-agile:hover .member-info .bottom-part * {
  transform: translateY(0);
}

/*work-page stylesheets*/
.work-page {
  background-color: #e92381;
  color: #fff;
}
.work-page h3.text-center {
  position: relative;
  text-align: center;
  font-size: 40px;
  line-height: 2;
  text-transform: uppercase;
  padding-bottom: 40px;
}
.work-page .page-desc {
  position: relative;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 17.5px;
  text-transform: capitalize;
}
.carousel {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.carousel:hover {
  background-color: #ea3189;
}
.carousel .scroller-list {
  position: relative;
  height: 400px;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease;
}
.carousel .scroller-list .slide-item {
  position: relative;
  float: left;
  height: 400px;
}
.carousel .scroller-list .slide-item .slide-item-face {
  width: 100px;
  height: 100px;
  margin: 50px auto;
  transform: rotate(45deg);
  overflow: hidden;
}
.carousel .scroller-list .slide-item .slide-item-face .img-wrap {
  width: 142px;
  height: 142px;
  margin-left: -21px;
  margin-top: -21px;
  transform: rotate(-45deg);
}
.carousel .scroller-list .slide-item .slide-item-face .img-wrap img {
  width: 100%;
  height: 100%;
}
.carousel .scroller-list .slide-item .slide-item-desc {
  font-size: 14px;
  line-height: 2;
  height: 200px;
  position: absolute;
  bottom: 0;
  padding: 0 80px;
}
.carousel .scroller-list .slide-item .slide-item-desc .desc-title {
  display: inline-block;
  border-top: 2px solid #fff;
  font-size: 21px;
}
.carousel .controller-unit {
  font-family: 'iconfont';
  cursor: pointer;
  position: absolute;
  top: 0;
  display: block;
  width: 40px;
  height: 400px;
  line-height: 400px;
  font-size: 30px;
  text-decoration: none;
}
.carousel .prev-btn {
  left: 0;
}
.carousel .next-btn {
  right: 0;
}

/*# sourceMappingURL=main.css.map */
