@import "grid";
$fullwidth : 100%;
@for $i from 1 through 12 {
	.col-#{$i} {
		width : $fullwidth/12 * $i;
		float: left;
	}
}
@mixin set-column($culumns){
	width : $fullwidth / 12 * $culumns;
	float: left;
}
@mixin agile {
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
}
@mixin h3Title {
	position: relative;
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	padding-bottom: 40px;
}
@mixin pageDesc {
	position: relative;
	margin-top: 10px;
	margin-bottom: 50px;
	font-size: $font-size-lg;
}
@mixin item-icon {
	width: 80px;
	height: 80px;
	padding:10px;
	margin:0 auto;
	text-align: center;
	font-family: 'iconfont';
	font-size: 50px;
	line-height: 1;
	border-radius: 50%;
}
@mixin item-title {
	font-size: 20px;
	line-height: 3;
}
@mixin item-desc {
	padding: 10px;
	font-size: 1.40px;
}