@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table; 
  }
  &:after {
    clear: both;
  }
}
@mixin imgRatio($width,$height){
	padding: floor($height/$width * 50% ) 50%;
}
%strench {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}
%img-responsive {
	max-width: 100%;
}
%pageSection {
	text-align: center;
	overflow: hidden;
	padding: 80px 0;
	@media (max-width: $screen-lg) {
		padding: 50px 0;
	}
	@media (max-width: $screen-md) {
		padding: 35px 0;
	}
	@media (max-width: $screen-sm) {
		padding: 20px 0;
	}
	@media (max-width: $screen-xs) {
		padding: 5px 0;
	}
}
@mixin agile {
	position: relative;
	padding-top: 30px;
}
@mixin h3Title {
	position: relative;
	text-align: center;
	font-size: 40px;
	line-height: 2;
	text-transform: uppercase;
	padding-bottom: 40px;
}
@mixin pageDesc {
	position: relative;
	margin-top: 10px;
	margin-bottom: 50px;
	font-size: $font-size-lg;
	text-transform: capitalize;
}
@mixin item-icon {
	width: 80px;
	height: 80px;
	padding:10px;
	margin:0 auto;
	text-align: center;
	font-family: 'iconfont';
	font-size: 50px;
	line-height: 1;
	border-radius: 50%;
}
@mixin item-title {
	font-size: 20px;
	line-height: 3;
}
@mixin item-desc {
	padding: 10px;
	font-size: 14px;
	height: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
}