$headline-ff:Braggadocio,Arial , Verdana , Helvetica , sans-serif;
$main-sec-ff:Arial , Verdana , Helvetica , sans-serif;
$font-size-base : 1.4rem;
$font-size-sm : $font-size-base * 0.85;
$font-size-lg : $font-size-base * 1.25;