@import "variable","mixin";
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot'); /* IE9*/
  src: url('../font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.clear {
	@include clearfix();
}
html{
	font-size: 10px;
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
}
section{
	width: 100%;
	position: relative;
}
.navbar{
	position: absolute;
	left: 10%;
	right: 10%;
	margin-top: 40px;
	z-index: 1;
	@extend .container;
	@at-root .menu-navigation{
		a {
			position: relative;
			display: block;
			float: left;
			margin-right: 20px;
			padding: 10px;
			font-size: 17px;
			color: #fff;
			text-decoration: none;
			text-align: center;
			text-transform: uppercase;

			&::before,&::after{
				content:'';
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 2px;
				background-color: #fff;
				border-radius: 2px;
				transition:all .1s;
			}
			&::before{
				width: 0;
				left: 50%;
				opacity: 0;
				transform:translateY(100%)
			}
			&:hover::before{
				bottom: 100%;
				width: 100%;
				left: 0;
				opacity: 1;
				transform:scale(1.3)
			}
			&:hover::after{
				transform:scale(1.3)
			}
		}
	}
	.nav-brand {
			float: right;
			cursor: pointer;
			height: 40px;
			line-height: 40px;
			font-size: 30px;
			color: #fff;
			text-transform: uppercase;
	}
}

.banner {
	@include imgRatio(1680,945);
	.banner-container {
		@extend %strench;
		background-image: url(../images/banner1.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		transition:background-image .6s ease-in;

		.banner-info {
			position: absolute;
			bottom: 25%;
			margin-left: 10%;
			font-family: tahoma,arial;

			.banner-title {
				font-size:30px;
				line-height: 1.4;
				letter-spacing: 8px;
				color: #fff;
			}
			.banner-desc {
				font-size: 20px;
				color:#f36523;
				letter-spacing: 5px;
			}
		}
		.banner-controller {
			position: absolute;
			bottom: 20%;
			margin-left: 10%;
			padding-left: 15px;
			transform:translateY(100%);
			text-align: center;

			@media (max-width: $screen-sm) {
					margin-left: 0;
					left: 0;
					right: 0;
			}

			.controller-unit{
				margin-right: 10px;
				display: inline;
				font-family: 'iconfont';
				font-size: 50px;
				line-height: 1;
				color: #fff;
				cursor: pointer;
				opacity: .5;
				transition:all .2s;
			}

			&:hover .controller-unit {
				opacity: 1;
			}
		}

		.process-wrap {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 4px;

			.process-bg {
				background-color: #f36523;
				width: 0%;
				height: 100%;

				&.show {
					height: 100%;
					transition : all 5s;
				}
			}
		}
	}

	
}


/* About US stylesheet*/
.about-page{
	@extend %pageSection;

	h3.text-center {
		@include h3Title;

		span {
			padding-bottom: 20px;
			border-bottom:#e92381 3px solid;
		}

	}
	.page-desc {
		@include pageDesc;
	}
	.row {
		&>div{
			display: table-cell;
			border-style: solid;
			border-color: #fff;
			border-left-width: 8px;
			border-right-width: 8px;
			background-color: #e92381;
			color: #fff;
			padding:30px 10px;

			@media (min-width: $screen-sm) {
				float: none
			}

			.about-agile {
			@include agile;
				.item-icon {
					@include item-icon;
					border:5px solid #fff;
					margin-top: 20px;
				}
				.item-title {
					@include item-title;
				}
				.item-desc {
					@include item-desc;
				}
			}
			&:hover {
					background-color: #003466;

					.item-icon {
						animation:rotating 2s linear infinite;
					}
				}
			}
		}

	@keyframes rotating {
		0% {transform : rotate(0deg)}
		100% {transform : rotate(360deg)}
	}
}

/*info-page stylesheets*/
.info-page{
	@extend %pageSection;
	background-image: url('../images/info.jpg');
	color:#fff;
	background-size:cover;

	h3.text-center {
		@include h3Title;

		&::after{
			content: '';
			position: absolute;
			left: 50%;
			bottom: 25%;
			width: 14%;
			height: 4px;
			margin-left: -7%;
			background-color: #ff9900;
		}
	}

	.page-desc {
		@include pageDesc;
	}

	.container {
		@media (min-width:$screen-md-min) {
			border-top: 1px solid #ff9900;
			padding-top: 5px;
		}
	}
	.row {

		@media (min-width: $screen-md-min) {
			&>:not(:first-child) {
				border-left: 1px solid #ff9900;
			}
		}
		&>div {
			padding:15px;

			@media (max-width: $screen-sm-max) {
				outline:1px solid #fff;
				outline-offset:-5px;
			}
		}
	}

	.info-agile {
		@include agile;
		margin-top: 20px;
		.item-icon {
			@include item-icon;
			transform:scale(.9);
			position: relative;
			background-color: #fff;
			color: #ff9900;
			transition:all .5s;

			&::after {
				content:'';
				position: absolute;
				left: -3px;
				top: -3px;
				width: 100%;
				height: 100%;
				border:3px solid #ff9900;
				border-radius: 50%;
				transform:scale(1.5);
				opacity: 0;
				box-shadow: 0 0 10px #ee9900 inset,0 0 5px #ee9900;
				transition:transform .2s , opacity .3s;
			}
		}

		&:hover {
			border-color: #ff9900;
			.item-icon {
				color: #fff;
				background-color: #ff9900;

				&::after {
					transform : scale(1.2);
					opacity: 1;
				}
			}
		}

		.item-title {
			@include item-title;
		}
		.item-desc {
			@include item-desc;

		}
	}
}
/* team-page stylesheets*/
.team-page {
	@extend %pageSection;

	h3.text-center {
		@include h3Title;
	}

	.page-desc {
		@include pageDesc;
		color: #666;

		&::after,
		&::before {
			content:'';
			position: absolute;
			top: 50%;
			width: 40px;
			height: 2px;
			transform:translateY(-50%);
			background-color: #333;
		}

		&::before {
			margin-left: -30px;
		}

		&::after {
			margin-left: -20px;
		}
	}

	.row {

		&>div {
			margin-top: 10px;
		}
	}

	.team-agile {
		@include agile;
		padding-top: 0;
		border:1px solid #d8d8d8;

		.member-face {

			&>div{
				overflow: hidden;
					img {
					max-width: 100%;
					height: auto;
					transition:.5s;
					transform: scale(1);
				}
			}
			.member-name {
				font-size: $font-size-lg;
				line-height: 2.5;
				background-color: #fff;
				position: relative;
				z-index: 1;
			}
		}

		@at-root .member-info {
			position: absolute;
			z-index: 2;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background-color: hsla(209,97%,23%,.81);
			color: #fff;
			font-size: $font-size-base;
			opacity: 0;
			overflow: hidden;
			transition:opacity .3s;

			&::before {
				content : '';
				position: absolute;
				z-index: 2;
				left: 50%;
				top: 40%;
				margin-left: -20px;
				width : 40px;
				height: 2px;
				opacity: 0;
				background-color: #fff;
				transition:all .5s;
			}

			.top-part,.bottom-part {
				position: absolute;
				width: 100%;
				left: 0;
				transition:all .4s;
			}

			.top-part {
				top: 0;
				padding:20px 0;
				transform: translateY(-100%);

				.info-title {
					transform: translateY(-100%);
					font-size: $font-size-lg;
					transition:all .5s;
				}
				.info-post {
					transform: translateY(-100%);
					transition:all .5s .1s;
				}
			}

			.bottom-part {
				bottom: 0;
				font-family: Georgia, serif;
				font-style: italic;
				padding-left: 5px;
				padding-right: 5px;
				transform: translateY(100%);

				.info-desc {
					transform:translateY(100%);
					transition:all .4s;
				}

				.info-contact {
					margin:20px auto;
					display: flex;
					justify-content : space-around;
					transform:translateY(100%);
					transition:all .4s .1s;
						a {
						position: relative;
						z-index: 2;
						width: 25px;
						height: 25px;
						line-height: 25px;
						color: #fff;
						transition:all .2s;
						text-decoration: none;

						&::before {
							content: '';
							position: absolute;
							left: -2px;
							top: -2px;
							z-index: 1;
							width: 100%;
							height: 100%;
							border: 2px solid #fff;
							background-color: #ff9900;
							transform: rotate(45deg);
							transition:all .2s;
						}

						i {
							position: relative;
							z-index: 3;
						}

						&:hover {
							color: #ff9900;

							&::before {
								background-color: #fff;
							}
						}
					}
				}
			}
		}

		&:hover {
			.member-face {
				img {
					transform : scale(1.1,1.1);
				}
			}
			.member-info {
				opacity: 1;

				&::before {opacity: 1;}

				.top-part{
					transform: translateY(0);
					& * {transform: translateY(0);}
				}
				.bottom-part {
					transform: translateY(0);
					& * {transform: translateY(0);}
				}
			}
		}
	}
}

/*work-page stylesheets*/
.work-page {
	$carouselHeight : 400px;
	$pageBgColor: #e92381;
	$ctrlBtnBgColor : lighten($pageBgColor , 3%);
	@extend %pageSection;
	background-color: $pageBgColor;
	color: #fff;

	h3.text-center {
		@include h3Title;
	}
	.page-desc {
		@include pageDesc;
	}

	@at-root .carousel {
		position: relative;
		width: 100%;
		height: $carouselHeight;
		overflow: hidden;

		&:hover {
			background-color: $ctrlBtnBgColor;
		}

		.scroller-list {
				position: relative;
				height: $carouselHeight;
				transition-property:all;
				transition-duration:.5s;
				transition-timing-function:ease;

				.slide-item {
					position: relative;
					float: left;
					height: $carouselHeight;

					.slide-item-face {
						width: 100px;
						height: 100px;
						margin:50px auto;
						transform:rotate(45deg);
						overflow: hidden;

						.img-wrap{
							width: 142px;
							height: 142px;
							margin-left: -21px;
							margin-top: -21px;
							transform:rotate(-45deg);
								img {
								width: 100%;
								height: 100%;
							}
						}
						
					}
					.slide-item-desc {
						font-size:$font-size-base;
						line-height: 2;
						height: $carouselHeight/2;
						position: absolute;
						bottom: 0;
						padding: 0 80px;

						.desc-title{
							display: inline-block;
							border-top: 2px solid #fff;
							font-size: $font-size-base*1.5;
						}
					}
				}
			}
		.controller-unit {
				font-family: 'iconfont';
				cursor:pointer;
				position: absolute;
				top: 0;
				display: block;
				width: 40px;
				height: $carouselHeight;
				line-height: $carouselHeight;
				font-size: 30px;
				text-decoration: none;
			}
			.prev-btn {
				left: 0;
				//background-image: linear-gradient(to right,$ctrlBtnBgColor , $pageBgColor );
			}
			.next-btn {
				right: 0;
				//background-image: linear-gradient(to left,$ctrlBtnBgColor , $pageBgColor );
			}
	}
}