@import "variable","mixin";
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot'); /* IE9*/
  src: url('../font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.row {
		position: relative;
	}
$baseFontSize : 62.5%;
html{
	font-size: 15px;
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	font-size:1rem;
}
section{
	width: 100%;
	position: relative;
}
.navbar{
	position: absolute;
	width: 100%;
	z-index: 2;
	top: 4rem;
	@at-root .menu-navigation{
		a {
			position: relative;
			display: block;
			float: left;
			margin-right: 2rem;
			padding: 1rem;
			font-size: 1.7rem;
			color: #fff;
			text-decoration: none;
			text-align: center;
			text-transform: uppercase;

			&::before,&::after{
				content:'';
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 2px;
				background-color: #fff;
				border-radius: 2px;
				transition:all .1s;
			}
			&::before{
				width: 0;
				left: 50%;
				opacity: 0;
				transform:translateY(100%)
			}
			&:hover::before{
				bottom: 100%;
				width: 100%;
				left: 0;
				opacity: 1;
				transform:scale(1.3)
			}
			&:hover::after{
				transform:scale(1.3)
			}
		}
	}
	.nav-brand {
			float: right;
			cursor: pointer;
			height: 4rem;
			line-height: 4rem;
			font-size: 3rem;
			color: #fff;
			text-transform: uppercase;
	}
}

.banner {
	position: relative;
	width: 100%;
	z-index: 1;

	.banner-container {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;

		.banner-image {
			width: 100%;
			height: 100%;
		}

		.banner-info {
			position: absolute;
			left: 10%;
			top: 50%;
			width: 50%;
			font-family: tahoma,arial;

			.banner-title {
				font-size:3rem;
				line-height: 1.4;
				letter-spacing: .8rem;
				color: #fff;
			}
			.banner-desc {
				font-size: 2rem;
				color:#f36523;
				letter-spacing: .5rem;
			}
		}
	}

	.banner-controller {
		position: absolute;
		bottom: 2rem;
		left: 10%;

		.controller-unit{
			margin-right: 1rem;
			float: left;
			font-family: 'iconfont';
			font-size: 5rem;
			line-height: 1;
			color: #fff;
			cursor: pointer;
			opacity: .5;
			transition:all .2s;
		}

		&:hover .controller-unit {
			opacity: 1;
		}
	}
}


/* About US stylesheet*/
.about-page{
	margin-top: 8rem;
	margin-bottom: 8rem;
	text-align: center;
	overflow: hidden;
  
	h3.text-center {
		@include h3Title;

		span {
			padding-bottom: 2rem;
			border-bottom:#e92381 3px solid;
		}

	}
	.page-desc {
		@include pageDesc;
	}
	.about-agile {
		@include agile;
		padding-bottom: 200rem;
		margin-bottom: -198rem;
		background-color: #e92381;
		color: #fff;
		transition:background-color .5s;

		.item-icon {
			@include item-icon;
			border:5px solid #fff;
		}
		.item-title {
			@include item-title;
		}
		.item-desc {
			@include item-desc;
		}

		&:hover {
			background-color: #003466;

			.item-icon {
				animation:rotating 2s linear infinite;
			}
		}
	}

	@keyframes rotating {
		0% {transform : rotate(0deg)}
		100% {transform : rotate(360deg)}
	}
}

/*info-page stylesheets*/
.info-page{
	padding:8rem 0;
	background-image: url('../images/info.jpg');
	color:#fff;
	text-align: center;
	background-size:cover;

	h3.text-center {
		@include h3Title;

		&::after{
			content: '';
			position: absolute;
			left: 50%;
			bottom: 25%;
			width: 14%;
			height: .4rem;
			margin-left: -7%;
			background-color: #ff9900;
		}
	}

	.page-desc {
		@include pageDesc;
	}

	.container {
		border-top: 1px solid #ff9900;
		padding-top: .5rem;
	}
	.row {

		&>:not(:first-child) {
			border-left: 1px solid #ff9900;
		}
	}

	.info-agile {
		@include agile;

		.item-icon {
			@include item-icon;
			transform:scale(.9);
			position: relative;
			background-color: #fff;
			color: #ff9900;
			transition:all .5s;

			&::after {
				content:'';
				position: absolute;
				left: -3px;
				top: -3px;
				width: 100%;
				height: 100%;
				border:3px solid #ff9900;
				border-radius: 50%;
				transform:scale(1.5);
				opacity: 0;
				box-shadow: 0 0 10px #ee9900 inset,0 0 5px #ee9900;
				transition:transform .2s , opacity .3s;
			}
		}

		&:hover {
			.item-icon {
				color: #fff;
				background-color: #ff9900;

				&::after {
					transform : scale(1.2);
					opacity: 1;
				}
			}
		}

		.item-title {
			@include item-title;
		}
		.item-desc {
			@include item-desc;
		}

		&:not(:first-child)::after {
			
		}
	}
}
/* team-page stylesheets*/
.team-page {
	padding:8rem 0;
	text-align: center;

	h3.text-center {
		@include h3Title;
	}

	.page-desc {
		@include pageDesc;
		color: #666;

		&::after,
		&::before {
			content:'';
			position: absolute;
			top: 50%;
			width: 4rem;
			height: .2rem;
			transform:translateY(-50%);
			background-color: #333;
		}

		&::before {
			margin-left: -3rem;
		}

		&::after {
			margin-left: -2rem;
		}
	}

	.team-agile {
		@include agile;
		padding-top: 0;

		.member-face {

			img {
				max-width: 100%;
			}
			.member-name {
				font-size: $font-size-lg;
				line-height: 3rem;
			}
		}

		.member-info {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background-color: hsla(209,97%,23%,.81);
			color: #fff;
			font-size: $font-size-base;

			&::before {
				content : '';
				position: absolute;
				left: 50%;
				top: 40%;
				margin-left: -2rem;
				width : 4rem;
				height: 2px;
				background-color: #fff;
			}

			.info-title {
				margin-top: 2rem;
				margin-bottom: 1rem;
				font-size: $font-size-lg;
			}
			.info-post {
				margin-bottom: 20%;
			}

			.info-desc {
				font-family: Georgia, serif;
				font-style: italic;
				padding-left: 5px;
				padding-right: 5px;
			}

			.info-contact {
				margin-top: 1rem;
				display: flex;
				justify-content : space-around;
					a {
					position: relative;
					z-index: 2;
					width: 2.5rem;
					height: 2.5rem;
					line-height: 2.5rem;
					color: #fff;
					text-decoration: none;
					@extend .col-3;

					&::before {
						content: '';
						position: absolute;
						left: -2px;
						top: -2px;
						z-index: 1;
						width: 100%;
						height: 100%;
						border: 2px solid #fff;
						background-color: #ff9900;
						transform: rotate(45deg);
					}

					i {
						position: relative;
						z-index: 3;
					}
				}
			}
		}
	}
}