@charset "utf-8";
/**
 *
 *
 *
 *
 *
 *
 *
 */
@import "variable","mixin";
.navbar{
	padding-left: 10%;
	padding-right: 10%;

	.a {
		text-transform:uppercase;	 
	}
}
.xs-visible {
	display: none;
}
.banner {

	.banner-container{

		.banner-image {
			background-size: cover;
		}
	}

	
}

